body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link.active {
  font-weight:bolder !important;
  color: #146EB4 !important;
}

.nav-link {
  font-weight: 500 !important;
}

.nav-link:hover {
  color:#00A8E1 !important;
}

.navbar {
  z-index: 20;
  background-color: #fff !important;
  line-height: 2.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.1);
}
